window {
   background-image: url("/home/risa/wallpaper/wallhaven-trans-1.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: white;
}
