@import "colors.css";

@keyframes blink-warning {
    70% {
        color: @light;
    }

    to {
        color: @light;
        background-color: @warning;
    }
}

@keyframes blink-critical {
    70% {
      color: @light;
    }

    to {
        color: @light;
        background-color: @critical;
    }
}


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */

/* Nord */
@define-color bg #2E3440;
/*@define-color bg #000000;*/
/*@define-color bg #353C4A;*/
@define-color light #D8DEE9;
/*@define-color light rgba(30, 30, 46, 0.65);*/
/*@define-color dark @nord_dark_font;*/
@define-color warning #ebcb8b;
@define-color critical #BF616A;
@define-color mode #434C5E;
/*@define-color workspaces @bg;*/
/*@define-color workspaces @nord_dark_font;*/
/*@define-color workspacesfocused #434C5E;*/
@define-color workspacesfocused #4C566A;
@define-color tray @workspacesfocused;
@define-color sound #EBCB8B;
@define-color network #5D7096;
@define-color memory #546484;
@define-color cpu @base01;
@define-color temp @base01;
@define-color layout @base01;
@define-color battery @base01;
@define-color date @base01;
@define-color time @base01;
@define-color backlight #434C5E;
@define-color nord_bg #434C5E;
@define-color nord_bg_blue #546484;
@define-color nord_light #D8DEE9;
@define-color nord_light_font #D8DEE9;
@define-color nord_dark_font #434C5E;
@define-color shadowcolor rgba(22,22,22,0.35);

/* Reset all styles */
* {
    border: 90px;
    min-height: 20px;
    margin: 0.1em 0.2em 0.1em 0.3em;
}

/* The whole bar */
#waybar {
    /*background: @bg;*/
    background: rgba(30, 30, 46, 0);
    /*background: rgba(30, 30, 46, 0.65);*/
    /*background-color: rgba(0,0,0,0);*/
    /*background-color:transperent;*/
    color: @light;
    /* font-family: "Cantarell", "Font Awesome 5 Pro"; */
    font-family: JetBrainsMono;
    font-size: 12px;
    font-weight: bold; 
    /*margin: 0.0px 0.0px 0.0px 0.0px;*/
    margin-bottom: 30px;
    padding-bottom: 30px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#custom-pacman,
#custom-weather,
#custom-gpu,
#tray,
#backlight,
#language,
#custom-cpugovernor,
#custom-notification,
#workspaces,
#workspaces button,
#custom-ddc {
    /* background-color: @base01; */
    /* background: linear-gradient(45deg, rgba(249,110,110,100) 0%, rgba(1,1,66,1) 50%); */
    color: @base05;
    text-shadow: 1px 1px 1px @shadowcolor, -1px -1px 1px @shadowcolor, 1px -1px 1px @shadowcolor, -1px 1px 1px @shadowcolor;
    padding-left: 0.6em;
    padding-right: 0.6em;
    border-radius: 12px;
    margin: 2px;
}

#custom-ddc {
    background: @base01;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    background: @warning;
    color: @base05;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#mode { /* Shown current Sway mode (resize etc.) */
    color: @base05;
    background-color: @base01;
}

/* Workspaces stuff */

#workspaces {
    /*color: #D8DEE9;
    margin-right: 10px;*/
    /*background: @base01;*/
    background: rgba(0,0,0,0);
}

#workspaces button {
    font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
    padding: 0;
    min-width: 20px;
    /*color: #999;*/
    /*opacity: 0.3;*/
    /*background: rgb(30, 30, 46);*/
    background: @base02;
    font-size: 1em;
}
#workspaces button.visibility{
}
#workspaces button.focused {
    background: @base04;
    color: rgb(255, 255, 255);
    opacity: 1;
    padding: 0 0.0em;
}

#workspaces button.urgent {
    background-color: @base08;
    opacity: 1;
}

#window {
    margin-right: 40px;
    margin-left: 40px;
    font-weight: normal;
    background: @base01;
    color: @base05;
}
#bluetooth {
    background: @base01;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-gpu {
    background: @base01;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-weather {
    background: @base01;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-pacman {
    background: @base01;
    color: @base05;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-scratchpad-indicator {
    background: @base01;
    color: @base05;
    font-weight: bold;
    padding: 0 0.6em;
}
#idle_inhibitor {
    background: @base01;
    /*font-size: 1.6em;*/
    color: @base05;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-alsa {
    background: @base01;
}

#network {
    /*background: @nord_bg_blue;*/
    background: @base01;
}

#memory {
    background: @base01;
}

#cpu {
    background: @base01;
    color: @base05;
}
#cpu.critical {
    color: @nord_light_font;
}
#language {
    background: @base01;
    color: @base05;
    padding: 0 0.4em;
}
#custom-cpugovernor {
    background-color: @base01;
    color: @nord_dark_font;
}
#custom-cpugovernor.perf {
    
}
#temperature {
    background-color: @base01;
    color: @base05;
}
#temperature.critical {
    background:  @critical;
}
#custom-layout {
    background: @layout;
}

#battery {
    background: @base01;
}

#backlight {
    background: @base01;
}

#clock {
    background: @base01;
    color: @base05;
}
#clock.date {
    background: @base01;
}

#clock.time {
    background: @base01;
}

#clock.calendar {
    background-color: @base00;
    color: @base05;
}

#pulseaudio { /* Unsused but kept for those who needs it */
    background: @base01;
    color: @base05;
}

#pulseaudio.muted {
    background: #BF616A;
    color: @base05;
    /* No styles */
}
#pulseaudio.source-muted {
    background: #D08770;
    color: @base05;
    /* No styles */
}
#tray {
    background-color: @base01;
}
#tray * {
    padding: 0 2px;
}

#tray *:first-child {
    border-left: none;
}

#custom-notification {
    /*border-radius: 13px;*/
}

tooltip {
     border-radius: 20px;
     background-color: @base00;
}

tooltip * {
    color: @base05;
    font-size: 16px;
    padding: 12px;
}

#custom-media {
    color: @base05;
}